<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.cubrid.cubridmanager.app.application"
            name="CUBRID Manager">
         <property
               name="windowImages"
               value="icons/cubridmanager16.gif,icons/cubridmanager32.gif,icons/cubridmanager48.gif,icons/cubridmanager64.gif">
         </property>
         <property
               name="aboutImage"
               value="icons/cubridmanager16.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="C0C0C0">
         </property>
         <property
               name="startupProgressRect"
               value="5,380,557,15">
         </property>
         <property
               name="startupMessageRect"
               value="230,280,557,15">
         </property>
      </product>
   </extension>
</plugin><?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.cubrid.cubridmanager.app.application"
            name="CUBRID Manager">
         <property
               name="windowImages"
               value="icons/cubridmanager16.gif,icons/cubridmanager32.gif,icons/cubridmanager48.gif,icons/cubridmanager64.gif">
         </property>
         <property
               name="aboutImage"
               value="icons/cubridmanager16.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="C0C0C0">
         </property>
         <property
               name="startupProgressRect"
               value="5,380,557,15">
         </property>
         <property
               name="startupMessageRect"
               value="230,280,557,15">
         </property>
         <property
               name="preferenceCustomization">
         </property>
      </product>
   </extension>
</plugin><?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.cubrid.cubridmanager.app.application"
            name="CUBRID Manager">
         <property
               name="windowImages"
               value="icons/cubridmanager16.gif,icons/cubridmanager32.gif,icons/cubridmanager48.gif,icons/cubridmanager64.gif">
         </property>
         <property
               name="aboutImage"
               value="icons/cubridmanager16.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="C0C0C0">
         </property>
         <property
               name="startupProgressRect"
               value="5,380,557,15">
         </property>
         <property
               name="startupMessageRect"
               value="230,280,557,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
</plugin>